<div class="aalb-modal-box">
  {{#each this}}
  <div class="aalb-admin-item-search-items-item" data-asin="{{asin}}">
    <div class="aalb-admin-item-search-items-item-img">
      <img id="aalb-admin-item-search-items-item-img" src="{{image}}">
    </div>
    <div class="aalb-admin-item-search-items-item-title">
      {{title}}
    </div>
    <div class="aalb-admin-item-search-items-item-price">
      {{price}}
    </div>
  </div>
  {{/each}}
</div>
